:root {
    --color-primary: #3A1643;
    --color-secondary: #FE8432;
    --color-white: #fff;
    --color-dark: #312C33;
    --color-nav-text: #1E1F5D;
  }
.main {
    width: 95%;
    margin: 0 auto 6rem auto;
}
.title {
    margin: 3rem 0 1rem 0;
    color: var(--color-secondary);
}
.section1, .section3 {
    width: 80%;
    margin: 4rem auto;
}
.section1 > div, .section3 > div{
    padding: 0 .5rem;
}
.section2 {
    width: 90%;
    margin: 4rem auto;
    flex-wrap: wrap;
}
.section2 > div {
    width: 23%;
    margin: .5rem auto;
}
